<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weatherstation Central</title>
        <script async src="/static/script.js">
        </script>
    </head>
    <body>
        <ul>
            {% for (addr, entry) in sensors %}
              {% match entry.state %}
              {% when SensorState::Connected with (v) %}
              <li>{{addr}}{% match entry.label %} {% when Some with (label) %}/{{label}}{% when None %} {% endmatch%} = {{v}}</li>
              {% when SensorState::Unconnected %}
              <li>{{addr}} down</li>
              {% endmatch %}
            {% endfor %}
        </ul>
    </body>
</html>
