<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Weatherstation Central</title>
        <script async src="/static/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/pure-min.css" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <ul class="sensor-list">
            {% for (addr, entry) in sensors %}
            <li class="sensor">
                <div class="addr-row">
                    <div class="addr">{{ addr }}</div>
                    {% match entry.label %}
                    {% when Some with (label) %}
                    <div class="label">
                    {{ label }}
                    </div>
                    {% when None %}
                    <div class="label no-label">
                        No label
                    </div>
                    {% endmatch %}
                    <button class="pure-button forget">Forget</button>
                </div>
                {% match entry.state %}
                {% when SensorState::Connected with (v) %}
                <ul class="values sensor-values">
                    <li class="temperature">{{ v.temperature }}</li>
                    <li class="pressure">{{ v.pressure }}</li>
                    <li class="humidity">{{ v.humidity }}</li>
                </ul>
                {% when SensorState::Unconnected %}
                <div class="values">Not connected</div>
                {% endmatch %}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
